html, body, div, span, applet, object, iframe, 
p, blockquote, pre,a, abbr, acronym, address, big, 
cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body {
	width: 100%;
	height: 100%;
	background-color: #fcfcfc;
}
h1 {
	font-family: sans-serif;
}
#wrapper {
  min-height:100%;
  position:relative;
}

#header {
	/*width: 100%;
	height: 115px;*/
	padding-top: 10px;
	background-color: #fcfcfc;
	margin-bottom: 16px;
}
/*#header-content {
	width: 1024px;
	height: 115px;
	margin: 0 auto;
}
#logo {
	position: relative;
	width: 195px;
	height: 96px;
	background-image: url("../images/logo.png");
	background-size: 100% 100%;
	float: left;
	top: 16px;
}
#logo:hover {
	cursor: pointer;
}*/
/*#main-navigation {
	position: relative;
	float: left;
	top: 28px;
	margin-left: 72px;
}*/
.nav-list {
	list-style-type: none;
    margin: 0;
    padding: 0;
    clear: both;
    /*overflow: hidden;*/
}
.nav-item-upper {
	float: right;
}
.nav-item-upper a:link, .nav-item-upper a:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    /*text-transform: uppercase;*/
}
#post-job {
	background-color: #00b1c1;
}
#post-job:hover {
	background-color: #019fad;
}
#post-event {
	background-color: #00b5af;
}
#post-event:hover {
	background-color: #038c87;
}
#login {
	background-color: #0082c0;
}
#login:hover {
	background-color: #046a9b;
}
#signup {
	background-color: #00a0df;
}
#signup:hover {
	background-color: #038ec5;
}
.nav-item {
	float: left;
}
.nav-item a img {
	width: 14px;
	height: 14px;
	margin-right: 8px;
}
.nav-item a:link, .nav-item a:visited {
    display: block;
    font-weight: bold;
    background-color: #717f81;
    color: #FFFFFF;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item a:hover, .nav-item a:active {
    background-color: #3e4545;
}
/*#content-wrapper {
	width: 1016px;
	padding: 16px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
#left-sidebar {
	width: 208px;
	padding-left: 8px;
	position: relative;
	float: left;
}
#left-sidebar img {
	width: 192px;
	height: 228px;
}


#content {
	width: 768px;
	min-height: 684px;
	position: relative;
	overflow: hidden;
	float: right;
}
#bottom-ad {
	width: 766px;
	position: relative;
	bottom: 0;
}
#bottom-ad img {
	width: 766px;
}
*/
.colleftpadding{
	padding-left: auto;
}

#footer{
	width: 100%;
	padding: 16px 0;
	background-color: #3e4545;
	/*height: 116px;*/
	bottom: 0;
	left: 0;
}
/*#footer-wrapper {
	width: 1024px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}*/
.footer-links-list {
	list-style: none;
	padding-left: 30%;
}
.leftpad{
	padding-left: 5%;
}
.footer-link {
	color: #dadde4;
	line-height: 1.5;
	text-decoration: none;
}
.footer-link:hover {
	color: #dadde4;
	text-decoration: underline;
}
#col1 {
	width: 256px;
	position: relative;
	float: left;
}
#col2 {
	width: 256px;
	position: relative;
	float: left;
}
#col3 {
	width: 256px;
	position: relative;
	float: left;
}
#col4 {
	width: 256px;
	position: relative;
	float: left;

}
#suggestions-container {
	overflow: hidden;
	padding-bottom: 16px;
}
#footer-if1-img {
	position: relative;
	width: 64px;
	height: 64px;
	float: left;
}
#suggestions-text {
	position: relative;
	float: left;
	width: 132px;
	margin-left: 16px;
	padding-top: 8px;
	color: #dadde4;
	line-height: 1.4;
}
#suggestion-btn {
	background-color: #00aecb;
	border: none;
	color: #fff;
	padding: 8px;
	font-weight: bold;
}
#suggestion-btn:hover {
	cursor: pointer;
	background-color: #049cb5;
}