html, body, div, span, applet, object, iframe, 
p, blockquote, pre,a, abbr, acronym, address, big, 
cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
	position: relative;
	min-height: 100%;
}
#footer{
	border-bottom: 2px solid #3e4545;
}
html{
	width: 100%;
	background-color: #3e4545;
}
h1 {
	font-family: sans-serif;
}

@font-face {
	font-family: roboto;
	src: url('../custom-fonts/roboto.ttf');
}

@font-face {
	font-family: roboto;
	src: url('../custom-fonts/roboto-bold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: opensans;
	src: url('../custom-fonts/opensans.ttf');
}
@font-face {
	font-family: opensans-semibold;
	src: url('../custom-fonts/opensans-semibold.ttf');
}
@font-face {
	font-family: opensans;
	font-weight: bold;
	src: url('../custom-fonts/opensans-bold.ttf');
}
@font-face {
	font-family: opensans-lightitalic;
	src: url('../custom-fonts/opensans-lightitalic.ttf');
}
@media (min-width: 240px) {
	.maincontentrow{
		padding-left:15px;
	}
	.maincontentwindow{
		min-height: 20px;
	}
	.suggestions-col {
		padding-left: 30%;
	}
	
	.headerlogo{
		width: 60%;
	}
	.nav-upper-anchor {
		padding: 4px 8px;
		font-size: 10px;
	}
	.nav-upper-anchor:hover {
		padding: 4px 8px;
		font-size: 10px;
	}
	.nav-lower-anchor {
		padding: 8px 0;
		font-size: 9px;
	}
	.nav-lower-anchor:hover {
		padding: 8px 0;
		font-size: 9px;
	}
	.navlistmobile{
		width: 100%;
		background-color:#717F81;
	}
	#about-if1{
		/*min-height: 265px;*/
		margin-right:15px;
		margin-left:15px;
		margin-bottom:15px;
	}
	#latest{
		/*min-height: 265px;*/
		margin-right:15px;
		margin-left:15px;
		margin-bottom: 15px;
	}
}

@media (min-width: 480px) {
	.nav-item{
		/*padding-right: 1.4%;*/
	}
}

@media (min-width: 768px) {
	.maincontentrow{
		padding-left:1%;
	}
	.maincontentwindow{
		min-height: 650px;
	}
	.leftads{
		height: 33.33%;
	}
	.nav-item{
		/*padding-right: 1.25%;*/
	}
	.suggestions-col {
		padding-left: 0;
	}
	.headerlogo{
		width: 100%;
	}
	.nav-upper-anchor {
		padding: 4px 8px;
		font-size: 12px;
	}
	.nav-upper-anchor:hover {
		padding: 4px 8px;
		font-size: 12px;
	}
	.nav-lower-anchor {
		padding: 8px 0;
		font-size: 11px;
	}
	.nav-lower-anchor:hover {
		padding: 8px 0;
		font-size: 11px;
	}
	#about-if1{
		min-height: 265px;
		margin-right:15px;
		margin-left: 0;
	}
	#latest{
		min-height: 265px;
		margin-right:10px;
		margin-left:15px;
		margin-bottom: 0;
	}
}

@media (min-width: 992px) {
	.maincontentwindow{
		min-height: 800px;
	}
	.nav-item{
		/*padding-right: 1%;*/
	}
	.suggestions-col {
		padding-left: 0;
	}
	.headerlogo{
		width: 100%;
	}
	.nav-upper-anchor {
		padding: 6px 10px;
		font-size: 14px;
	}
	.nav-upper-anchor:hover {
		padding: 6px 10px;
		font-size: 14px;
	}
	.nav-lower-anchor {
		padding: 10px 0;
		font-size: 14px;
	}
	.nav-lower-anchor:hover {
		padding: 10px 0;
		font-size: 14px;
	}
	#about-if1{
		min-height: 300px;
		margin-right:15px;
	}
	#latest{
		min-height: 300px;
		margin-right:10px;
		margin-left:15px;
	}
	.para{
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	.nav-item{
		/*padding-right: 1.3%;*/
	}
	.suggestions-col {
		padding-left: 0;
	}
	.headerlogo{
		width: 100%;
	}
	.para{
		font-size: 18px;
	}
  	.nav-upper-anchor {
		padding: 6px 14px;
		font-size: 16px;
	}
	.nav-upper-anchor:hover {
		padding: 6px 14px;
		font-size: 16px;
	}
	.nav-lower-anchor {
		padding: 12px 0;
		font-size: 16px;
	}
	.nav-lower-anchor:hover {
		padding: 12px 0;
		font-size: 16px;
	}
	#about-if1{
		min-height: 300px;
		margin-right: 15px;
	}
	#latest{
		min-height: 300px;
		margin-right: 10px;
		margin-left: 15px;
	}
}

@media (min-width: 1600px) {
	.nav-item{
		/*padding-right: 5%;*/
	}
	.nav-lower-anchor {
		padding: 12px 0;
		font-size: 16px;
	}
	.nav-lower-anchor:hover {
		padding: 12px 0;
		font-size: 16px;
	}
}

#header {
	/*width: 100%;
	height: 115px;*/
	padding-top: 10px;
	background-color: #fcfcfc;
	margin-bottom: 16px;
}
/*#header-content {
	width: 1024px;
	height: 115px;
	margin: 0 auto;
}
#logo {
	position: relative;
	width: 195px;
	height: 96px;
	background-image: url("../images/logo.png");
	background-size: 100% 100%;
	float: left;
	top: 16px;
}
#logo:hover {
	cursor: pointer;
}*/
/*#main-navigation {
	position: relative;
	float: left;
	top: 28px;
	margin-left: 72px;
}*/

.nav-list {
	list-style-type: none;
    margin: 0;
    padding: 0;
    clear: both;
    overflow: hidden;
}
.nav-item-upper {
	float: right;
}
.nav-item-upper a:link, .nav-item-upper a:visited {
    display: block;
    font-family: roboto;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    /*text-transform: uppercase;*/
}
#post-job {
	background-color: #00b1c1;
}
#post-job:hover {
	background-color: #019fad;
}
#post-event {
	background-color: #00b5af;
	margin-left:2px;
}
#post-event:hover {
	background-color: #038c87;
}
#login {
	background-color: #0082c0;
	margin-left:2px;
}
#login:hover {
	background-color: #046a9b;
}
#signup {
	background-color: #00a0df;
}
#signup:hover {
	background-color: #038ec5;
}
.nav-item {
	float: left;
	/*padding: 0;*/
}
.nav-item a img {
	width: 14px;
	height: 14px;
	margin-right: 8px;
}
.nav-item a:link, .nav-item a:visited {
    display: block;
    font-family: roboto;
    font-weight: bold;
    background-color: #717f81;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    /*text-transform: uppercase;*/
}

.nav-item a:hover, .nav-item a:active {
    background-color: #3e4545;
}

.nav-li-small{
	width: 15%;
}

.nav-li-medium{
	width: 20%;
}

.nav-li-large{
	width: 35%;
}

/*#content-wrapper {
	width: 1016px;
	padding: 16px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
#left-sidebar {
	width: 208px;
	padding-left: 8px;
	position: relative;
	float: left;
}
#left-sidebar img {
	width: 192px;
	height: 228px;
}


#content {
	width: 768px;
	min-height: 684px;
	position: relative;
	overflow: hidden;
	float: right;
}
#bottom-ad {
	width: 766px;
	position: relative;
	bottom: 0;
}
#bottom-ad img {
	width: 766px;
}
*/
.colleftpadding{
	padding-left: auto;
}

#footer{
	width: 100%;
	padding: 16px 0;
	background-color: #3e4545;
	/*height: 116px;*/
	bottom: 0;
	left: 0;
}
/*#footer-wrapper {
	width: 1024px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}*/

/* Sticky footer styles
-------------------------------------------------- */

.footer {
	/*position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	/*height: 177px;*/
	/*background-color: #f5f5f5;*/
}

.footer-links-list {
	list-style: none;
	padding-left: 30%;
}

.footer-link {
	color: #dadde4;
	line-height: 1.5;
	text-decoration: none;
}
.footer-link:hover {
	color: #dadde4;
	text-decoration: underline;
}
/*#col1 {
	width: 256px;
	position: relative;
	float: left;
}
#col2 {
	width: 256px;
	position: relative;
	float: left;
}
#col3 {
	width: 256px;
	position: relative;
	float: left;
}
#col4 {
	width: 256px;
	position: relative;
	float: left;

}*/
#suggestions-container {
	overflow: hidden;
	padding-bottom: 16px;
}
#footer-if1-img {
	position: relative;
	width: 64px;
	height: 64px;
	float: left;
}
#suggestions-text {
	position: relative;
	float: left;
	width: 132px;
	margin-left: 16px;
	padding-top: 8px;
	color: #dadde4;
	line-height: 1.4;
}
#suggestion-btn {
	background-color: #00aecb;
	border: none;
	color: #fff;
	padding: 8px;
	font-weight: bold;
}
#suggestion-btn:hover {
	cursor: pointer;
	background-color: #049cb5;
}