#resume-head-wrapper {
	padding-bottom: 12px;
	padding-left: 32px;
}
#resume-head {
	display: inline;
}
.heading {
	display: block;
	padding: 16px 0 8px 0;
	margin: 0;
	font-family: sans-serif;
	font-weight: bold;
}
td {
	padding: 4px 32px 4px 0;
}
.text {
	width: 100%;
	font-family: sans-serif;
	line-height: 1.5;
	font-size: 11pt;
}
.anchor {
	text-decoration: none;
}
.anchor-edit {
	margin-left: 48px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	font-size: 14pt;
}
.anchor:hover {
	cursor: pointer;
	text-decoration: underline;
}
.anchor-edit img {
	width: 16px;
	height: 16px;
	padding-right: 4px;
}
#resume-content-left {
	width: 310px;
	position: relative;
	float: left;
}
#resume-content-right {
	width: 310px;
	position: relative;
	float: left;
	margin-left: 96px;
}
#resume-container {
	overflow: hidden;
}
.btn{
	padding: 8px 4px;
	color: #FFFFFF;
	font-family: sans-serif;
	font-weight: bold;
	border: none;
}
.btn:hover {
	cursor: pointer;
}
.btn-update {
	background-color: #0096db;
	margin: 12px 0 16px 0;
}
.btn-upload {
	display: block;
	background-color: #00b38a;
	margin-top: 16px;
}