#searchdiv{
	padding: 10px;
	border-color: #4B5457;
	background-color: #4B5457;
	margin-right: 15px;
}
#can-name-or-id{
	width: 100%;
	height: 28px;
	border: 2px solid;
	margin: 0px;
	border-color: rgba(0,0,0,0.2);
	padding: 2px;
}


#can-search-btn{
	background-color: #008db5;
	color: #FFF;
	border:none;
	border-color: #008db5;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}

#candidate-container{
	height: 656px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 15px;
	overflow-y: scroll;
}
.candidate-inner{
	width: 256px;
	float: left;
	margin: 5px;
}
.seemore-btn-class{
	background-color: #6d207c;
	color: #FFF;
	border:none;
	border-color: #6d207c;
	padding: 5px 15px;
}

.candidate-class{
	position: relative;
	width: 100%;
}

.blue-triangle{
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
	z-index: 1;
}

.triangle-text{
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
	z-index: 1;
	color: #FFF;
	text-align: right;
	padding: 8px;
}

.candidate-name{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #FFF;
	font-style: italic;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	padding: 5px;
}

.vote-btn-class{
	width: 128px;
	margin: 16px 64px;
	color: #FFF;
	background-color: #EF8200;
	border: 1px solid #EF8200;
	border-radius: 1px;
	padding: 5px;
	outline: none;
}